{#
/**
 * @file
 * Theme override to display a node.
 *
 * 
 *   
 */
#}

{% set bodytext = content.body|render|striptags %}
{# Text lenght variable #}
{% set textlenght = 250 %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}>

    <h3{{ title_attributes.addClass('heading-three r-strategy__title--accent-two') }}>
      {{ label }}
    </h3>

  <div{{ content_attributes.addClass('node__content') }}>
    {{ bodytext|length > textlenght ? bodytext|slice(0, textlenght) ~ '...' : bodytext }}
  </div>

  {# href="{{ url }}" #}

</article>