{#
/**
 * @file
 * Theme override to display a node.
 *
 * on the view page Strategy (ons aanbod)
 */
#}
{%
  set classes = [
    'n-article__full',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  
    <h3{{ title_attributes.addClass('heading-three r-strategy__title--accent-two') }}>
      {{ label }}
    </h3>

    <div class="n-article__img">
      {{ content.field_image }}
    </div>
  
 

  <div{{ content_attributes.addClass('n-article__body') }}>
    {{ content.body }}
  </div>

</article>
