{#
/**
 *  
 *   
 */
#}
{%
  set classes = [
    'r-news',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{attributes.addClass(classes)}}>

	<div class="r-news__content">

		<h2{{title_attributes.addClass('r-news__title')}}>
			{{ label }}
		</h2>

		{% if not node.field_news_img.isemty %}
			<div class="r-news__images">
				{{ content.field_news_img }}
			</div>
		{% endif %}

		<div{{content_attributes.addClass('r-news__text')}}>
			{{ content.body }}
		</div>

	</div>

</article>
