{#
/**
 * @file
 * Theme override to display a node.
 * 
 * on the farwell page
 */
#}
{%
  set classes = [
    'n-farwell',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{attributes.addClass(classes)}}>

	<div{{content_attributes.addClass('node__content n-farwell__content')}}>

		<h3{{title_attributes.addClass('heading-two')}}>
			{{ label }}
		</h3>

		{% if content.field_farwell_img|render is not empty %}
			<div class="n-farwell__image">
				{{ content.field_farwell_img }}
			</div>
		{% endif %}

		<div class="n-farwell__body">
		
		  <div class="n-farwell__name">
		    {{ content.field_farwell_name }}
		  </div>
		  
			{{ content.field_farwell_body }}
		</div>

	</div>

</article>
