{#
/**
 * @file
 *
 * footer.html.twig
 * 
 */
#}

<footer class="r-footer">
	<div class="container">
		<div
			class="r-footer__inner">

			{# brochure and veterinarian_file#}
			<div class="r-footer__wrap-brochure-veterinarian">
				<div class="r-footer__brochure">
					{{ page.footerbrochure }}
				</div>
				<div class="r-footer__veterinarian_file">
					{{ page.footer_veterinarian_file }}
				</div>
			</div>
			{# end brochure and veterinarian_file #}

			{# opening-hours #}
			<div class="r-footer__opening-hours">
				{{ page.footeropening }}
			</div>
			{# end opening-hours #}

			{# partners #}
			<div class="r-footer__partners">
				<h3 class="heading-three">Partners</h3>
				<div class="r-footer__partners-inner">
					{{ page.footerpartners }}
				</div>
			</div>
			{# end partners #}

			{# contact #}
			<div class="r-footer__contact">
				<h3 class="heading-three">Contact</h3>
				<div class="r-footer__contact-text">
					<p>
						Kuaga bvba<br>Maatheide 74/G 3920 Lommel<br>+3211644522 - +32475638869
					</p>
					<a href="https://www.facebook.com/uitvaartzorgkuaga/"><img src="{{ base_path ~ directory }}/dist/images/facebook-icon.jpg" alt=""></a>
				</div>
			</div>
			{# end contact #}

		</div>
		{# end r-footer__inner #}

		<div class="r-footer__copy">
			<p>©
				{{ "now"|date("Y") }}
				Kuaga dierencrematorium -
				<br>
				Maatheide 74/G 3920 Lommel -
				<a href="{{ base_path }}privacyverklaring">Privacy Policy</a>
			</p>
		</div>
		{# end r-footer__copy #}
	</div>
	{# end container #}

</footer>

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Akkoord
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->